:host {
    display: flex;
    flex-flow: column;
    flex-grow: 1;

    width: fit-content;
    padding: 24px;
    margin: 0 auto;
}


article {
    max-width: 80ch;
    margin: auto 0;

    header {
        margin-bottom: 1rem;
    }
    
    ul {
        margin: 1rem 0;
    }
}
