ul {
    list-style: none;

    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 24px;
    
    margin: none;
    padding: 16px;
}

a {
    font-size: 1rem;
    text-decoration: none;

    &.active {
        font-weight: bold;
    }
}