:host {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.text-block {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
}

img,
.img-placeholder {
  width: 128px;
  height: 128px;
  border-radius: 8px;
  background-color: var(--disabled);

  @media (max-width: 400px) {
    width: 72px;
    height: 72px;
    border-radius: 4px;
  }
}